langchain-openai
langchain
python-dotenv
langchain-community
langchain-core
streamlit
ipykernel
langchain-groq
openai
pypdf
faiss-cpu
langchain-huggingface
langchain-chroma
arxiv
wikipedia
bs4
pymupdf
langchain-text-splitters
chromadb
sentence-transformers
langchain-chroma
duckdb
pandas
duckduckgo-search
validators
youtube_transcript_api
pytube
unstructured
numexpr
gradio
